requests
beautifulsoup4
pandas
fake-useragent
aiohttp
tenacity
playwright
sqlalchemy
streamlit
openpyxl
playwright-stealth
aiofiles
markdownify
apscheduler
fastapi
uvicorn
pandas
openai
duckduckgo-search
ultimate-sitemap-parser
robotexclusionrulesparser
